[submodule "popup.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "plenary.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim-lspconfig"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "neogit"]
	path = common/link/.config/nvim/pack/bundle/opt/neogit
	url = https://github.com/TimUntersberger/neogit.git
[submodule "vim-fugitive"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "gitsigns.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim-tree.lua"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua.git
[submodule "nvim-web-devicons"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "terminus"]
	path = common/link/.config/nvim/pack/bundle/opt/terminus
	url = https://github.com/wincent/terminus.git
[submodule "lualine.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim.git
[submodule "vim-eunuch"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim-repeat"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-sneak"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "editorconfig-vim"]
	path = common/link/.config/nvim/pack/bundle/opt/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "tabular"]
	path = common/link/.config/nvim/pack/bundle/opt/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "orgmode.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/orgmode.nvim
	url = https://github.com/kristijanhusak/orgmode.nvim.git
	ignore = dirty
[submodule "vim-textobj-user"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim-textobj-entire"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
	ignore = dirty
[submodule "vim-sort-motion"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion
[submodule "vim-textobj-rubyblock"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "nvim-cmp"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "cmp-nvim-lsp"]
	path = common/link/.config/nvim/pack/bundle/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "cmp-path"]
	path = common/link/.config/nvim/pack/bundle/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "nvim-treesitter"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "smart-pairs"]
	path = common/link/.config/nvim/pack/bundle/opt/smart-pairs
	url = https://github.com/ZhiyuanLck/smart-pairs
[submodule "nvim-treesitter-endwise"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-treesitter-endwise
	url = https://github.com/RRethy/nvim-treesitter-endwise
[submodule "zen-mode.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/zen-mode.nvim
	url = https://github.com/folke/zen-mode.nvim
[submodule "Comment.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
[submodule "null-ls.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
	ignore = dirty
[submodule "nvim-autopairs"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "catppuccin-theme"]
	path = common/link/.config/nvim/pack/bundle/opt/catppuccin-theme
	url = https://github.com/catppuccin/nvim.git
[submodule "vim-yaml-folds"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds
[submodule "nvim-colorizer.lua"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua
[submodule "bufferline.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim
[submodule "NeoNoName.lua"]
	path = common/link/.config/nvim/pack/bundle/opt/NeoNoName.lua
	url = https://github.com/nyngwang/NeoNoName.lua
[submodule "python-syntax"]
	path = common/link/.config/nvim/pack/bundle/opt/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "SimpylFold"]
	path = common/link/.config/nvim/pack/bundle/opt/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "vim-python-pep8-indent"]
	path = common/link/.config/nvim/pack/bundle/opt/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "telescope.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim-bqf"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf
[submodule "diffview.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
[submodule "neorg"]
	path = common/link/.config/nvim/pack/bundle/opt/neorg
	url = https://github.com/nvim-neorg/neorg.git
[submodule "fidget.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "aerial.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim
[submodule "nvim-surround"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "LuaSnip"]
	path = common/link/.config/nvim/pack/bundle/opt/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "lspsaga.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/lspsaga.nvim
	url = https://github.com/glepnir/lspsaga.nvim
[submodule "feline.nvim"]
	path = common/link/.config/nvim/pack/bundle/opt/feline.nvim
	url = https://github.com/feline-nvim/feline.nvim
[submodule "nvim-code-action-menu"]
	path = common/link/.config/nvim/pack/bundle/opt/nvim-code-action-menu
	url = https://github.com/weilbith/nvim-code-action-menu
