set clipboard+=unnamed
set surround
set multiple-cursors
set ignorecase
set visualbell
set relativenumber
set number

let mapleader = " "

" General remaps not involving leader
nnoremap gb :action ToggleLineBreakpoint<CR>
nnoremap <C-p> :action GotoFile<CR>
nnoremap <C-S-p> :action RecentFiles<CR>

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" Leader remaps
nnoremap <leader><leader> :action RecentFiles<CR>

nnoremap <Leader>w :action SaveAll<CR>
nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>n <C-w>v
nnoremap <Leader>u :action UpdateRunningApplication<CR>
nnoremap <Leader>o :action UnsplitAll<CR>
nnoremap <Leader>v :action SplitVertically<CR>
nnoremap <Leader>z :action HideAllWindows<CR>
nnoremap <Leader>j :action GotoRelated<CR>

nnoremap <Leader>gg :action SelectIn<CR>
nnoremap <Leader>gc :action CheckinProject<CR>
nnoremap <Leader>gu :action Vcs.UpdateProject<CR>
nnoremap <Leader>gh :action Vcs.History<CR>

" Remapping 0 and caret.
nnoremap 0 ^
nnoremap ^ 0

" IdeaVim isn't as clever as vim with cc, or c<motion> for that matter
nnoremap cc ^C

" Back and forth
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" Remap quote shortcuts
nnoremap ciq ci"
nnoremap caq ca"
nnoremap viq vi"
nnoremap vaq va"
nnoremap diq di"
nnoremap daq da"
nnoremap yiq yi"
nnoremap yaq ya"

" Remap paren shortcuts
nnoremap ci0 ci)
nnoremap ca0 ca)
nnoremap vi0 vi)
nnoremap va0 va)
nnoremap di0 di)
nnoremap da0 da)
nnoremap yi0 yi)
nnoremap ya0 ya)

" Window remaps
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
