priority -50

extends c

# Override c snipets
priority -49

snippet "#inc(l|lu|lud|lude)?" "require" !br
#include <${0}>
endsnippet

snippet std "using namespace std" b
using namespace std;
${0}
endsnippet
