snippet lt "Rails link_to" i
<%= link_to "${1:link text}"$0 %>
endsnippet

snippet % "<% $0 %>" i
<% $0 %>
endsnippet

snippet = "<%= $0 %>" i
<%= $0 %>
endsnippet

snippet end "<% end %>" i
<% end %>
endsnippet

snippet each "Iteration over array" i
<% ${1:collection}.each do |${2:varname}| %>
$0
<% end %>
endsnippet
