snippet % "django tag" i
{% $0 %}
endsnippet

snippet if "if tag" i
{% if ${1:condition} %}
  $0
{% endif %}
endsnippet

snippet for "for tag" i
{% for $0 %}
  
{% endfor %}
endsnippet

snippet ife "if-else tag" i
{% if ${1:condition} %}
  
{% else %}
{% endfor %}
endsnippet

snippet v "variable" i
{{ $0 }}
endsnippet
