snippets get
	@${1:router}.get("${2:path}")
	def ${3:route_name}(${4:args}):
		$0

snippets post
	@${1:router}.post("${2:path}")
	def ${3:route_name}(${4:args}):
		$0

snippets put
	@${1:router}.put("${2:path}")
	def ${3:route_name}(${4:args}):
		$0

snippets patch
	@${1:router}.patch("${2:path}")
	def ${3:route_name}(${4:args}):
		$0

snippets delete
	@${1:router}.delete("${2:path}")
	def ${3:route_name}(${4:args}):
		$0

