snippet %
    {% ${0} %}
    endsnippet

snippet if
    {% if ${1:condition} %}
      ${0}
    {% endif %}

snippet for
    {% for ${0} %}
      
    {% endfor %}

snippet ife
    {% if ${1:condition} %}
      
    {% else %}
    {% endfor %}

snippet v
    {{ ${0} }}
