[Desktop Entry]
Name=transmissionRemoteMagnet
Type=Application
Exec=transmission-remote-magnet %u
NoDisplay=true
MimeType=x-scheme-handler/magnet;
Terminal=true
